.Rough{
	color: white;
	cursor: pointer;
	text-align: center;
	border:none;
	outline: none;
	background-color: black;
	width: 100px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	transition: 0.5s ease-out;
}

.Rough:hover{
	box-shadow: 0px 0px 10px 1px rgba(32,32,32,0.4);
}