.MainContainer{
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
}

.BlurryBGDiv{
	width: 100%;
	height: 50vh;
	position: fixed;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

.BlurryBGImage{
	background-position: fixed;
	width: 100vw;
	height: 100%;
	object-fit: cover;
	background-size: cover;
	-webkit-filter: blur(10px); 
	filter: blur(10px); 
	overflow: hidden;
	max-height: 50vh;
}

.mainRestaurantImage{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-position: center;
    height: 100%;
    max-width: 800px;
    min-width: 800px;
    max-height: 500px;
    min-height: 500px;
    margin-top: -250px;
    background-size: cover;
    object-fit: cover;
    box-shadow: 2px 0 8px 6px rgba(0,0,0,.2);
}

.AllCenter{
	text-align: center;
}

.CardDetailContainer{
	margin-top: 50vh;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
}

.CardTitle{
	font-size: 25px;
    font-family: Merriweather;
    width: auto;
	position: relative;
}

.TitleFormat{
	margin-right: auto;
	margin-left: auto;
	max-width: 800px;
	bottom-padding:5px;
	border-bottom: 1px solid #ffbc00;
}
.RestaurantMustTry{
	font-size: 12px;
}