.MainContainer{
	width: 100%;
	height: 100%;
	position: fixed;
}

.BlurryBGDiv{
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

.BlurryBGImage{
	width: 100%;
	height: 100%;
	background-size: cover;
	filter: blur(10px);
	overflow: hidden;
}

.mainRestaurantImage{
	margin-top: -15%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-position: center;
    height: 100%;
    max-width: 800px;
    max-height: 500px;
    background-size: contain;
    object-fit: cover;
}

.AllCenter{
	text-align: center;
}

.CardDetailContainer{
	margin-top: 35vh;
    width: 100%;
    position: relative;
    background-color: white !important;
    height: 100%;
}

.CardTitle{
	text-transform: uppercase;
	letter-spacing: 2px;
	width: auto;
	position: relative;
	font-family: Raleway;
}